<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
	  <add name="LA_OPERA_HOTELEntities" connectionString="metadata=res://*/Model.QLKS_3T.csdl|res://*/Model.QLKS_3T.ssdl|res://*/Model.QLKS_3T.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LA_OPERA_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="LA_OPERA_HOTEL1Entities" connectionString="metadata=res://*/Model.QLKS_NHT.csdl|res://*/Model.QLKS_NHT.ssdl|res://*/Model.QLKS_NHT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HTBONE\MSSQLSERVER01;initial catalog=LA_OPERA_HOTEL1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QLKS_TT" connectionString="metadata=res://*/Model.QLKS_TT.csdl|res://*/Model.QLKS_TT.ssdl|res://*/Model.QLKS_TT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LA_OPERA_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />  
	  <add name="LA_OPERA_HOTELEntities1" connectionString="metadata=res://*/Model.QLKS_3T.csdl|res://*/Model.QLKS_3T.ssdl|res://*/Model.QLKS_3T.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LA_OPERA_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QLKS_HT" connectionString="metadata=res://*/Model.QLKS_HT.csdl|res://*/Model.QLKS_HT.ssdl|res://*/Model.QLKS_HT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HTBONE\MSSQLSERVER01;initial catalog=LA_OPERA_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="QLKS_TTT" connectionString="metadata=res://*/Model.QLKS_TTT.csdl|res://*/Model.QLKS_TTT.ssdl|res://*/Model.QLKS_TTT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LA_OPERA_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.commons" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>